.navbar-nav a{
    margin: 11%;
    font-weight: bold;
    font-size: x-large;
}
.card-body,h5{
font-size: 200%;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-body a{
    font-size: 125%;
}
.input{
    margin-left: 15%;
    margin-right: 15%;
}

#map {
    width: 100%;       
    max-width: 60%; 
    height: 40vh;     
    margin: 20px auto; 
    border: 1px solid #ccc; 
    margin-top: 5.2%;
  }
footer{
    align-items: center;
}
.p{
    font-size: larger;
    font-weight: bold;
}
